{% extends "base.html" %}
{% block title %}
    首页
{% endblock %}

{% block sel_on1 %}
    <li class="on"><a href="{{ url_for("index") }}">球员查询</a></li>
    <li class=""><a href="{{ url_for("page1") }}">数据排名</a></li>
    <li class=""><a href="#">球员对比</a></li>
    <li class=""><a href="#">球员预测队</a></li>
{% endblock %}

{% block sel_on2 %}
    <div style="height: 250px" >
        <div style=" text-align: center;height: 60%">
            <img alt="" style="margin: 0 auto;" src="../static/img/login.jpg" align="center"/>
        </div>
        <div class="form-group" style="text-align: center;">
            <input class="form-field" type="text" placeholder="输入球星名字" align="center">
            <span><input type="submit" name="sub" value="查询" ></span>
        </div>
    </div>
{% endblock %}


{% block tip %}
    <div style="height: 500px;color: red;border: black solid 1px" >
        <div style="width: 310px;height:100%;border: #0c3869 solid 1px;float: left">
        </div>
        <div style="float: right;width: 660px;height:500px;border: red solid 1px">

        </div>
    </div>
{% endblock %}

{% block table %}
    <div class="1">


    </div>

{% endblock %}
{% block page %}
    <div class="2">


    </div>
{% endblock %}
